.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f1f1f;
}

.header-container .logo {
    padding: 5px 20px;
}

.header-container .logo img{
    width: 100px;
}

.header-container .title {
    display:flex;
    align-items: center;
    font-weight: 700;
    padding: 5px 20px;
    color: #fff;
}
